/* Start of borders*/
.ocps-circle{border-radius:50%!important}
.ocps-round-small{border-radius:3px!important}
.ocps-round,.ocps-round-medium{border-radius:4px!important}
.ocps-round-large{border-radius:8px!important}
.ocps-round-xlarge{border-radius:16px!important}
.ocps-round-xxlarge{border-radius:32px!important}
.ocps-round-jumbo{border-radius:64px!important}

.ocps-border-0{border:0!important}
.ocps-border{border:1px solid #ccc!important}
.ocps-border-top{border-top:1px solid #ccc!important}.ocps-border-bottom{border-bottom:1px solid #ccc!important}
.ocps-border-left{border-left:1px solid #ccc!important}.ocps-border-right{border-right:1px solid #ccc!important}

.ocps-topbar{border-top:3px solid #ccc!important}.ocps-bottombar{border-bottom:3px solid #ccc!important}
.ocps-leftbar{border-left:3px solid #ccc!important}.ocps-rightbar{border-right:3px solid #ccc!important}

.ocps-topbar-free{border-top:3px solid #ccc!important}.ocps-bottombar-free{border-bottom:3px solid #ccc!important}
.ocps-leftbar-free{border-left:3px solid #ccc!important}.ocps-rightbar-free{border-right:3px solid #ccc!important}



