/* Start of colors */

.ocps-red,.ocps-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.ocps-pink,.ocps-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.ocps-purple,.ocps-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.ocps-deep-purple,.ocps-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.ocps-indigo,.ocps-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.ocps-blue,.ocps-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.ocps-light-blue,.ocps-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.ocps-cyan,.ocps-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.ocps-aqua,.ocps-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.ocps-teal,.ocps-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.ocps-green,.ocps-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.ocps-light-green,.ocps-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.ocps-lime,.ocps-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.ocps-sand,.ocps-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.ocps-khaki,.ocps-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.ocps-yellow,.ocps-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.ocps-amber,.ocps-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.ocps-orange,.ocps-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.ocps-deep-orange,.ocps-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.ocps-blue-grey,.ocps-hover-blue-grey:hover{color:#fff!important;background-color:#607d8b!important}
.ocps-brown,.ocps-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.ocps-light-grey,.ocps-hover-light-grey:hover{color:#000!important;background-color:#f1f1f1!important}
.ocps-grey,.ocps-hover-grey:hover{color:#000!important;background-color:#9e9e9e!important}
.ocps-dark-grey,.ocps-hover-dark-grey:hover{color:#fff!important;background-color:#616161!important}
.ocps-black,.ocps-hover-black:hover{color:#fff!important;background-color:#000!important}
.ocps-white,.ocps-hover-white:hover{color:#000!important;background-color:#fff!important}
.ocps-pale-red,.ocps-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.ocps-pale-green,.ocps-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.ocps-pale-yellow,.ocps-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.ocps-pale-blue,.ocps-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}







.ocps-text-amber,.ocps-hover-text-amber:hover{color:#ffc107!important}
.ocps-text-aqua,.ocps-hover-text-aqua:hover{color:#00ffff!important}
.ocps-text-blue,.ocps-hover-text-blue:hover{color:#2196F3!important}
.ocps-text-light-blue,.ocps-hover-text-light-blue:hover{color:#87CEEB!important}
.ocps-text-brown,.ocps-hover-text-brown:hover{color:#795548!important}
.ocps-text-cyan,.ocps-hover-text-cyan:hover{color:#00bcd4!important}
.ocps-text-blue-grey,.ocps-hover-text-blue-grey:hover{color:#607d8b!important}
.ocps-text-green,.ocps-hover-text-green:hover{color:#4CAF50!important}
.ocps-text-light-green,.ocps-hover-text-light-green:hover{color:#8bc34a!important}
.ocps-text-indigo,.ocps-hover-text-indigo:hover{color:#3f51b5!important}
.ocps-text-khaki,.ocps-hover-text-khaki:hover{color:#b4aa50!important}
.ocps-text-lime,.ocps-hover-text-lime:hover{color:#cddc39!important}
.ocps-text-orange,.ocps-hover-text-orange:hover{color:#ff9800!important}
.ocps-text-deep-orange,.ocps-hover-text-deep-orange:hover{color:#ff5722!important}
.ocps-text-pink,.ocps-hover-text-pink:hover{color:#e91e63!important}
.ocps-text-purple,.ocps-hover-text-purple:hover{color:#9c27b0!important}
.ocps-text-deep-purple,.ocps-hover-text-deep-purple:hover{color:#673ab7!important}
.ocps-text-red,.ocps-hover-text-red:hover{color:#f44336!important}
.ocps-text-sand,.ocps-hover-text-sand:hover{color:#fdf5e6!important}
.ocps-text-teal,.ocps-hover-text-teal:hover{color:#009688!important}
.ocps-text-yellow,.ocps-hover-text-yellow:hover{color:#d2be0e!important}
.ocps-text-white,.ocps-hover-text-white:hover{color:#fff!important}
.ocps-text-black,.ocps-hover-text-black:hover{color:#000!important}
.ocps-text-grey,.ocps-hover-text-grey:hover{color:#757575}
.ocps-text-light-grey,.ocps-hover-text-light-grey:hover{color:#f1f1f1!important}
.ocps-text-dark-grey,.ocps-hover-text-dark-grey:hover{color:#3a3a3a!important}

.ocps-border-amber,.ocps-hover-border-amber:hover{border-color:#ffc107!important}
.ocps-border-aqua,.ocps-hover-border-aqua:hover{border-color:#00ffff!important}
.ocps-border-blue,.ocps-hover-border-blue:hover{border-color:#2196F3!important}
.ocps-border-light-blue,.ocps-hover-border-light-blue:hover{border-color:#87CEEB!important}
.ocps-border-brown,.ocps-hover-border-brown:hover{border-color:#795548!important}
.ocps-border-cyan,.ocps-hover-border-cyan:hover{border-color:#00bcd4!important}
.ocps-border-blue-grey,.ocps-hover-blue-grey:hover{border-color:#607d8b!important}
.ocps-border-green,.ocps-hover-border-green:hover{border-color:#4CAF50!important}
.ocps-border-light-green,.ocps-hover-border-light-green:hover{border-color:#8bc34a!important}
.ocps-border-indigo,.ocps-hover-border-indigo:hover{border-color:#3f51b5!important}
.ocps-border-khaki,.ocps-hover-border-khaki:hover{border-color:#f0e68c!important}
.ocps-border-lime,.ocps-hover-border-lime:hover{border-color:#cddc39!important}
.ocps-border-orange,.ocps-hover-border-orange:hover{border-color:#ff9800!important}
.ocps-border-deep-orange,.ocps-hover-border-deep-orange:hover{border-color:#ff5722!important}
.ocps-border-pink,.ocps-hover-border-pink:hover{border-color:#e91e63!important}
.ocps-border-purple,.ocps-hover-border-purple:hover{border-color:#9c27b0!important}
.ocps-border-deep-purple,.ocps-hover-border-deep-purple:hover{border-color:#673ab7!important}
.ocps-border-red,.ocps-hover-border-red:hover{border-color:#f44336!important}
.ocps-border-sand,.ocps-hover-border-sand:hover{border-color:#fdf5e6!important}
.ocps-border-teal,.ocps-hover-border-teal:hover{border-color:#009688!important}
.ocps-border-yellow,.ocps-hover-border-yellow:hover{border-color:#ffeb3b!important}
.ocps-border-white,.ocps-hover-border-white:hover{border-color:#fff!important}
.ocps-border-black,.ocps-hover-border-black:hover{border-color:#000!important}
.ocps-border-grey,.ocps-hover-border-grey:hover{border-color:#9e9e9e!important}
.ocps-border-light-grey,.ocps-hover-border-light-grey:hover{border-color:#f1f1f1!important}
.ocps-border-light-grey1,.ocps-hover-border-light-grey1:hover{border-color: #e5e6e9 #dfe0e4 #d0d1d5;}
.ocps-border-dark-grey,.ocps-hover-border-dark-grey:hover{border-color:#616161!important}
.ocps-border-pale-red,.ocps-hover-border-pale-red:hover{border-color:#ffe7e7!important}
.ocps-border-pale-green,.ocps-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.ocps-border-pale-yellow,.ocps-hover-border-pale-yellow:hover{border-color:#ffffcc!important}
.ocps-border-pale-blue,.ocps-hover-border-pale-blue:hover{border-color:#e7ffff!important}



