.ocps-accordion {width:100%;cursor:pointer}
.ocps-accordion-content{cursor:auto;display:none;position:relative;width:100%;margin:0;padding:0}
.ocps-accordion-content a{padding:6px 16px;display:block}
.ocps-accordion-content a:hover{background-color:#ccc}

.ocps-accordion-group{
	border:1px solid #ccc;
	margin-bottom: 10px;
}
.ocps-accordion-group-content{
	padding: 0.01em 16px;
}
.ocps-accordion-toogle{
	padding:8px;
	cursor: pointer;
}
.ocps-accordion-heading{
	padding: 0.01em 16px;
	color: #000;
    background-color: #f1f1f1;
}