/* Start of general */

.ocps-btn,.ocps-btn-floating,.ocps-dropnav a,.ocps-btn-floating-large,.ocps-btn-block,.ocps-hover-shadow,.ocps-hover-opacity,.ocps-hover-opacity-off,
.ocps-navbar a,.ocps-sidenav a,.ocps-pagination li a,.ocps-hoverable tbody tr,.ocps-hoverable li,.ocps-accordion-content a,.ocps-dropdown-content a,.ocps-dropdown-click:hover,.ocps-dropdown-hover:hover,.ocps-opennav,.ocps-closenav,.ocps-closebtn,
.ocps-hover-amber,.ocps-hover-aqua,.ocps-hover-blue,.ocps-hover-light-blue,.ocps-hover-brown,.ocps-hover-cyan,.ocps-hover-blue-grey,.ocps-hover-green,.ocps-hover-light-green,.ocps-hover-indigo,.ocps-hover-khaki,.ocps-hover-lime,.ocps-hover-orange,.ocps-hover-deep-orange,.ocps-hover-pink,
.ocps-hover-purple,.ocps-hover-deep-purple,.ocps-hover-red,.ocps-hover-sand,.ocps-hover-teal,.ocps-hover-yellow,.ocps-hover-white,.ocps-hover-black,.ocps-hover-grey,.ocps-hover-light-grey,.ocps-hover-dark-grey,.ocps-hover-text-amber,.ocps-hover-text-aqua,.ocps-hover-text-blue,.ocps-hover-text-light-blue,
.ocps-hover-text-brown,.ocps-hover-text-cyan,.ocps-hover-text-blue-grey,.ocps-hover-text-green,.ocps-hover-text-light-green,.ocps-hover-text-indigo,.ocps-hover-text-khaki,.ocps-hover-text-lime,.ocps-hover-text-orange,.ocps-hover-text-deep-orange,.ocps-hover-text-pink,.ocps-hover-text-purple,
.ocps-hover-text-deep-purple,.ocps-hover-text-red,.ocps-hover-text-sand,.ocps-hover-text-teal,.ocps-hover-text-yellow,.ocps-hover-text-white,.ocps-hover-text-black,.ocps-hover-text-grey,.ocps-hover-text-light-grey,.ocps-hover-text-dark-grey
{
	-webkit-transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
	transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s
}
.ocps-hover-none:hover{box-shadow:none!important;background-color:transparent!important}




*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
html,body{font-family:"Times New Roman",Times,serif;font-size:15px;line-height:1.5}html{overflow-x:hidden;overflow-y:scroll}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{
	background-color:transparent;
	text-decoration:none;

}
a:active,a:hover{
	outline:0;
}
a.ocps-hover-able:hover{
	color:#009ae5 !important;
}
abbr[title]{border-bottom:1px dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}sub{bottom:-0.25em}
img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}pre,textarea{overflow:auto}
/* h1,h2,h3,h4,h5,h6,.ocps-slim,.ocps-wide{font-family:"Segoe UI",Arial,sans-serif} */
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.ocps-serif{font-family:"Times New Roman",Times,serif}
h1,h2,h3,h4,h5,h6{font-weight:400;margin:10px 0}.ocps-wide{letter-spacing:4px}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}
hr{height:0;border:0;border-top:1px solid #eee;margin:20px 0}
img{margin-bottom:-5px}a{color:inherit}







.ocps-content{max-width:980px;margin:auto}

.ocps-hide{display:none!important}
.ocps-show-block,.ocps-show{display:block!important}
.ocps-show-inline-block{display:inline-block!important}
.ocps-fluid{max-width:100%;height:auto}


.ocps-responsive{overflow-x:auto}

.ocps-example{background-color:#f1f1f1;padding:0.01em 16px}
.ocps-code,.ocps-codespan{font-family:Consolas,"courier new";font-size:16px}
.ocps-code{line-height:1.4;width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #009688;word-wrap:break-word}
.ocps-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.ocps-example,.ocps-code,.ocps-reference{margin:20px 0}







.ocps-main,#main{transition:margin-left .4s}

.ocps-container:after,.ocps-panel:after,.ocps-row:after,.ocps-row-padding:after,.ocps-topnav:after,.ocps-clear:after,.ocps-btn-group:before,.ocps-btn-group:after,.ocps-btn-bar:before,.ocps-btn-bar:after
{content:"";display:table;clear:both}
.ocps-container{padding:0.01em 16px}
.ocps-panel{padding:0.01em 16px;margin-top:16px!important;margin-bottom:16px!important}


/* Start of list */
ul.ocps-ul{list-style-type:none;padding:0;margin:0}
ul.ocps-ul li{padding:6px 2px 6px 16px;border-bottom:1px solid #ddd}
ul.ocps-ul li:last-child{border-bottom:none}





/* Start of pagination */
.ocps-pagination{display:inline-block;padding:0;margin:0}.ocps-pagination li{display:inline}
.ocps-pagination li a{text-decoration:none;color:#000;float:left;padding:8px 16px}
.ocps-pagination li a:hover{background-color:#ccc}

/* Start of dropdown */
.ocps-dropdown-click,.ocps-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.ocps-dropdown-hover:hover .ocps-dropdown-content{display:block;z-index:1}
.ocps-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.ocps-dropdown-content a{padding:6px 16px;display:block}
.ocps-dropdown-content a:hover{background-color:#ccc}

body{style="background-color: #f4f4f4"}

.ocps-widthfixed{width:100px}

a.ocps-display-block{
	display: block;
	height: 100%;
}

